<!doctype html>
<html>

	<head>
		<title>Bienvenidos!</title>
		<link rel="stylesheet" href="/css/styles.css"> <!-- telling the browser to grab the stylesheet -->
	</head>
	
	<body>
		<a href="./where-is-home">Where does this go relatively?</a> <!-- will go to relative path, pull current directory then add where-is-home: localhost:8080/greeting/where-is-home -->
		<a href="/where-is-home">Where does this go absolutely?</a> <!-- this is an absolute path, it will go to localhost:8080/where-is-home -->
		Hello, {{ personsName }}. 
		
	</body>

</htmL>